@use "../abstracts/colors" as c;
@use "../abstracts/animations";

.card {
  width: 18rem;
  height: 100%;
  background-color: c.$item-background;
  color: c.$text-color;
  padding-top: 1rem;
  border-radius: 10px;
  border: 1px solid c.$border-color;
  @include animations.grow-middle;
  .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-wrapper {
    height: 14rem;
    margin: 0 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  img {
    max-height: 100%;
    width: auto;
  }
  .card-title {
    text-align: center;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  .btn {
    background-color: c.$button-color;
    color: c.$text-color;
    width: 11rem;
    &:hover {
      background-color: c.$button-color-hover;
    }
  }
  .active-button {
    background-color: c.$button-active;
    &:hover {
      background-color: c.$button-active;
    }
  }
}
