$dark-page-background: #1B1A20;
$dark-page-background-hover: #0d0c0f;
$lighter-page-background: #2B2A33;
$border-color: #818284;
$text-color: #e0e0e0;
$item-background: #201F25;
$button-color: #238636;
$button-color-hover: #0b2b12;
$button-active: #0f7423;


