$dark-page-background: #e6e6e6;
$dark-page-background-hover: #a3a3a3;
$lighter-page-background: #ffffff;
$border-color: #a0a0a1;
$text-color: #202020;
$item-background: #e6e6e6;
$button-color: #238636;
$button-color-hover: #0b2b12;
$button-active: #0f7423;
$red-button: #dc3545;
$red-button-hover: #85202a;



